@page "/Search"
@using MarvelSharp
@using MarvelSharp.Criteria
@using MarvelSharp.Model
@inject ApiService MarvelApi
@attribute [StreamRendering]

<PageTitle>Home</PageTitle>

<form method="GET" class="text-center mb-4 p-4">
    <InputText @bind-Value="SearchTerm" class="p-2 rounded-md block w-2/3 mx-auto border border-gray-300"/>
    <button type="submit" class="mt-2 p-2 bg-indigo-400 text-white rounded-md font-semibold">Search Characters</button>
</form>


@if (string.IsNullOrEmpty(SearchTerm))
{
    <p>Please enter a search term to begin...</p>
}
else if (_apiResponse?.Data.Result == null)
{
    <p class="text-gray-900">Loading...</p>
}
else
{
    <div class="grid grid-cols-1 md:grid-cols-4 gap-6">
        @foreach (var result in _apiResponse.Data.Result)
        {
            <SearchResult Result="result" @rendermode="@RenderMode.InteractiveServer"/>
        }
    </div>
}

@code {
    private Response<List<Character>>? _apiResponse;

    [SupplyParameterFromQuery]
    public string SearchTerm { get; set; }

    protected override async Task OnParametersSetAsync()
    {
        _apiResponse = await MarvelApi.GetAllCharactersAsync(20, 0, new CharacterCriteria { NameStartsWith = SearchTerm });
    }

}