@page "/Search"
@using MarvelSearch.Backend
@inject MarvelApi MarvelApi
@attribute [StreamRendering]

<PageTitle>Home</PageTitle>

<form method="GET" class="text-center mb-4">
    <InputText @bind-Value="SearchTerm" class="form-control"/>
    <button type="submit" class="btn btn-primary mt-2">Search Characters</button>
</form>

<div class="row row-cols-1 row-cols-md-2 row-cols-lg-3 g-4">

    @if (string.IsNullOrEmpty(SearchTerm))
    {
        <p>Please enter a search term to begin...</p>
    }
    else if (_results == null)
    {
        <p>Loading...</p>
    }
    else
    {
        @foreach (var result in _results.Data.Results)
        {
            <div class="col">
                <SearchResult Result="result" @rendermode="@RenderMode.InteractiveServer"/>
            </div>
        }
    }

</div>

@code {
    private MarvelSearchResult? _results;

    [SupplyParameterFromQuery]
    public string SearchTerm { get; set; }

    protected override async Task OnInitializedAsync()
    {
        _results = await MarvelApi.Search(SearchTerm);
    }

}