@page "/"
@rendermode InteractiveServer

<ConfigCheck>
    <ConfigDetected>
        <h1>Marvel Character Search</h1>
        <a href="/search">Click here to start searching!</a>
    </ConfigDetected>
</ConfigCheck>